In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler  # Import MinMaxScaler
import matplotlib.pyplot as plt
import seaborn as sns
# Load datasets
df1 = pd.read_csv(r"C:\Users\Admin\Documents\tmdb_5000_movies.csv")
df2 = pd.read_csv(r"C:\Users\Admin\Documents\tmdb_5000_credits.csv")

In [3]:
# Display shape of datasets
print("Shape of df1;",df1.shape)
print("Shape of df2;",df2.shape)

Shape of df1; (4803, 20)
Shape of df2; (4803, 4)

In [5]:
# Ensure df1 and df2 have the same number of rows before assigning 'cast'
if df1.shape[0] == df2.shape[0]:
    df1['cast'] = df2['cast']
else:
    print("Error: df1 and df2 have different row counts. Cannot assign 'cast' column.")

In [7]:
# Display first few rows
print(df1.head())

      budget                                             genres  \
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2  245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3  250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4  260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

                                       homepage      id  \
0                   http://www.avatarmovie.com/   19995
1  http://disney.go.com/disneypictures/pirates/     285
2   http://www.sonypictures.com/movies/spectre/  206647
3            http://www.thedarkknightrises.com/   49026
4          http://movies.disney.com/john-carter   49529

                                            keywords original_language  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...                en
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2  [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3  [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4  [{"id": 818, "name": "based on novel"}, {"id":...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615
2  A cryptic message from Bond’s past sends him o...  107.376788
3  Following the death of District Attorney Harve...  112.312950
4  John Carter is a war-weary, former military ca...   43.926995

                                production_companies  ... release_date  \
0  [{"name": "Ingenious Film Partners", "id": 289...  ...   2009-12-10
1  [{"name": "Walt Disney Pictures", "id": 2}, {"...  ...   2007-05-19
2  [{"name": "Columbia Pictures", "id": 5}, {"nam...  ...   2015-10-26
3  [{"name": "Legendary Pictures", "id": 923}, {"...  ...   2012-07-16
4        [{"name": "Walt Disney Pictures", "id": 2}]  ...   2012-03-07

      revenue  runtime                                   spoken_languages  \
0  2787965087    162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...
1   961000000    169.0           [{"iso_639_1": "en", "name": "English"}]
2   880674609    148.0  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...
3  1084939099    165.0           [{"iso_639_1": "en", "name": "English"}]
4   284139100    132.0           [{"iso_639_1": "en", "name": "English"}]

     status                                         tagline  \
0  Released                     Enter the World of Pandora.
1  Released  At the end of the world, the adventure begins.
2  Released                           A Plan No One Escapes
3  Released                                 The Legend Ends
4  Released            Lost in our world, found in another.

                                      title vote_average  vote_count  \
0                                    Avatar          7.2       11800
1  Pirates of the Caribbean: At World's End          6.9        4500
2                                   Spectre          6.3        4466
3                     The Dark Knight Rises          7.6        9106
4                               John Carter          6.1        2124

                                                cast
0  [{"cast_id": 242, "character": "Jake Sully", "...
1  [{"cast_id": 4, "character": "Captain Jack Spa...
2  [{"cast_id": 1, "character": "James Bond", "cr...
3  [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4  [{"cast_id": 5, "character": "John Carter", "c...

[5 rows x 21 columns]

In [9]:
df1.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'cast'],
      dtype='object')

In [11]:
df1=df1[['budget', 'genres', #'homepage', 'id', 'keywords',
        'original_language',
       #'original_title', 'overview', 
        'popularity', 'production_companies',
       #'production_countries', 
        'release_date', 'revenue', 'runtime',
       #'spoken_languages', 'status', 'tagline', 
        'title', 'vote_average',
       'vote_count', 'cast']].copy()
print(df1.columns)

Index(['budget', 'genres', 'original_language', 'popularity',
       'production_companies', 'release_date', 'revenue', 'runtime', 'title',
       'vote_average', 'vote_count', 'cast'],
      dtype='object')

In [13]:
# Check missing values
missing_rows_count = df1.isna().sum().sum()
print("Total missing values:", missing_rows_count)

Total missing values: 3

In [15]:
# Drop missing values
df1 = df1.dropna().copy()